@mixin imagen-nave(){
	display: inline-block;
	margin-left: 250px;
    padding: 4px;
    margin-top: -20px;
}
@mixin enlace-menu(){
	display: inline-block;
	text-align: center;
	padding: 20px;
	margin-top: 0;
    float: right;
    margin-right: 130px;	
}
@mixin enlace-menu-element(){
    display: inline-block;
    font-size: 20px;
    font-weight: 300;
    padding-left: 80px;
    color: white;
    padding-top: 20px;
}
@mixin decoracion(){
	text-decoration:none;
	color: white;
}
@mixin boton-hover(){
	background-color: $background_color;
    padding: 10px;
    border-radius: 20px;
}
@mixin foto(){
	margin-left: 195px;
    margin-top: 80px;
}
@mixin caja-texto(){
    width: 548px;
    margin: 0;
    float: right;
    margin-top: 100px;
    text-align: left;
    margin-right: 175px;
}
@mixin titulo(){
	color: $btn_color;
    font-size: 35px;
    font-weight: 400;
    margin-bottom: 0;
}
@mixin subtexto(){
	font-size: 25px;
    font-weight: 400;
    margin-top: 2px;
    margin-bottom: 50px;
    color: #fff;
}
@mixin texto(){
	display: block;
    -webkit-margin-before: 1em;
    -webkit-margin-after: 1em;
    -webkit-margin-start: 0px;
    -webkit-margin-end: 0px;
    color: #fff;
    margin-bottom: 80px;
}
@mixin boton(){
	color: #fff;
    font-size: 20px;
    background-color: $btn_color;
    padding: 10px 40px;
    text-decoration: none;
    border-radius: 38px;
    margin-left: 160px;
}
