.navegador{
	background-color:$nav;
	height: 100px;
	& .img-nav{
		@include imagen-nave();
	}
	& .a-menu{
		@include enlace-menu();
	}
	& .a-menu__elem{
		@include enlace-menu-element();
	}
	& .a-menu__elem__enlace{
		@include decoracion();
		&:hover{
			@include boton-hover();
		}
	}
}
section{
	background-color:$background_color;
	& .img-foto{
		@include foto();
	}
	& .caja-texto{
		@include caja-texto();
		& h2{
			@include titulo();
		}
		& h3{
			@include subtexto();
		}
		& p{
			@include texto();
		}
		& a{
			@include boton();
			&:hover{
				background-color:$nav;
			}
		}
	}
	& div.lista{
		ul{
			padding: 200px;
    		margin-left: 150px;
			li{
				display: inline-block;
				margin-left: 50px;
			}
		}
	}
}