.navegador{
	background-color:$nav;
	height: 100px;
	& .img-nav{
		@include imagen-nave();
	}
	& .a-menu{
		@include enlace-menu();
	}
	& .a-menu__elem{
		@include enlace-menu-element();
	}
	& .a-menu__elem__enlace{
		@include decoracion();
		&:hover{
			@include boton-hover();
		}
	}
}
section{
	background-color:$background_color;
	& .img-foto{
		@include foto();
	}
	& .caja-texto{
		@include caja-texto();
		& h2{
			@include titulo();
		}
		& h3{
			@include subtexto();
		}
		& p{
			@include texto();
		}
		& a{
			@include boton();
			&:hover{
				background-color:$nav;
			}
		}
	}
	& div.lista{
		ul{
			padding: 120px;
    		margin-left: 150px;
			li{
				display: inline-block;
				margin-left: 50px;
				&:hover{
					@include animacion();
				}
			}
		}
	}
}
section.trabajos{
	background-color:$nav;
	.caja-texto-dos{
		color: white;
		padding: 50px 100px;
		& p{
			padding-top:60px;
			padding-bottom: 50px;
		}
		& a{
			@include boton();
			&:hover{
					background-color:$background_color;
			}
		}
	}
	& div.lista-trabajos{
		& ul{
			margin-left: 100px;
    		padding: 10px;
			& li{
				display: inline;
				img{
					width: 30%;
					border-radius: 10px;
					&:hover{
							@include animacion();
					}
				}
			}
		}
	}
}
footer{
	background-color:$background_color;
	& p{
		margin-left: 450px;
		color: #fff;
	}
}